*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game_board{
    width: 100%;
    height: 450px;
    border-bottom: 15px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e0f6ff);
}

.menu{
    position: absolute;
    top: 50%;
    left: 40%;
    background: none;
    color: rgb(161, 36, 36);
    border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.game-over{
    position: absolute;
    top: 50%;
    left: 40%;
    display: none;
    background: none;
    color: rgb(161, 36, 36);
    border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.pipe{
    width: 80px;
    position: absolute;
    bottom: 0;
}

.mario{
    position: absolute;
    width: 100px;
    bottom: 0;
}

.cloud{
    position: absolute;
    width: 500px;
}

.jump{
    animation: jump 500ms ease-out;
}

.pipe-move{
    animation: pipe-animated 1.5s linear infinite;
}

.cloud-move{
    animation: cloud-animated 20s infinite linear;
}


@keyframes pipe-animated {
    from{
        right: -80px;
    }
    to{
        right: 100%;
    }
}

@keyframes jump {
    0%{
        bottom: 0px;
    }

    40%{
        bottom: 180px;
    }

    50%{
        bottom: 180px;
    }

    60%{
        bottom: 180px;
    }

    100%{
        bottom: 0px;
    }
}

@keyframes cloud-animated {
    from{
        right: -500px;
    }

    to{
        right: 100%;
    }
}